@tailwind base;
@tailwind components;
@tailwind utilities;

.query-container {
  @apply w-4/5 lg:w-2/5 h-2/3 z-50 dark:bg-amber-50 dark:text-gray-700 bg-white text-gray-900 shadow-lg rounded-xl p-8 pt-12 relative;
}

.input-form {
  @apply block py-1 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 caret-blue-300 pt-4;
}

.input-label {
  @apply absolute text-gray-500 duration-300 transform -translate-y-6 top-0 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-400 peer-focus:scale-75;
}

.error {
  @apply text-xs sm:text-sm text-red-500 py-4;
}

.button {
  @apply w-full flex justify-center text-white mt-6 bg-rose-500 hover:bg-rose-700 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 focus:outline-none disabled:bg-slate-200 disabled:text-gray-400 disabled:border-slate-400 disabled:cursor-not-allowed transition-all duration-500 ease-in-out;
}

.single-image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.single-image-container * {
  pointer-events: all;
  padding: 1rem;
  text-align: center;
}

.single-image {
  border-radius: 20px;
  width: 480px;
  height: 300px;
}
