@tailwind base;
@tailwind components;
@tailwind utilities;

.query-container {
  @apply w-4/5 lg:w-2/5 h-2/3 z-50 dark:bg-amber-50 dark:text-gray-700 bg-white text-gray-900 shadow-lg rounded-xl p-8 pt-12 relative;
}

.input-form {
  @apply block py-1 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 caret-blue-300 pt-4;
}

.input-label {
  @apply absolute text-gray-500 duration-300 transform -translate-y-6 top-0 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-400 peer-focus:scale-75;
}

.error {
  @apply text-xs sm:text-sm text-red-500 py-4;
}

.button {
  @apply w-full flex justify-center text-white mt-6 bg-rose-500 hover:bg-rose-700 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 focus:outline-none disabled:bg-slate-200 disabled:text-gray-400 disabled:border-slate-400 disabled:cursor-not-allowed transition-all duration-500 ease-in-out;
}

.layout-cards {
  width: 500px;
  height: 500px;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  background: #ff471a;
  
  .dim-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
  }

  .opened-card {
    border-radius: 15px;
    cursor: pointer;
    height: calc(100% - 10rem);
    width: 200px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    div {
      background: white;
      height: 100%;
      width: 100%;
      margin: 0 1rem;
      border-radius: 15px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .card {
    background: white;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:nth-child(1) {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 3;
      grid-row: 1;
    }
    &:nth-child(3) {
      grid-column: 1;
      grid-row: 2;
    }
    &:nth-child(4) {
      grid-column: 2 / span 2;
      grid-row: 2;
    }
  }
  .cards-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 33rem;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;          
    &::-webkit-scrollbar {
      display: none;
    }
  }
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
